!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @word + " - " if @word
      miillk - проверка орфографии коллективным разумом
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :name => "title", :content => "" }
    %meta{ :name => "keywords", :content => "" }
    %meta{ :name => "description", :content => "" }
    %link{ :href => "style.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    / %link{ :href => "style.css", :rel => "stylesheet", :type => "text/css", :media => "handheld" }
  %body
    %table{ :cellspacing => "0", :cellpadding => "0" }
      %tr{ :valign => "middle"}
        %td{ :align => "center" }
          %p
            %img{ :src => "miillk.gif", :alt => "miillk" }
          %h1
            проверка орфографии коллективным разумом
            %sup.blind><
              *
          %form{ :action => "/" }
            %p
              %input{ :name => "q", :type => "text", :size => "50", :maxlength => "250", :value => @word }
              %input{ :type => "submit", :value => "правильно написано?" }
          = yield
      %tr{ :valign => "bottom" }
        %td{ :align => "center" }
          %p.notice<>
            %sup.notice><
              *
            коллективный разум в орфографии не силён
          %p.about
            %b.about
              miillk
            \- проверка орфографии коллективным разумом
          %p.about
            %a{ :href => "mailto:miillk@kumekay.com" }
              miillk@kumekay.com
          /
            Yandex.Metrika
          %script{ :src => "//mc.yandex.ru/metrika/watch.js", :type => "text/javascript" }
          %div{ :style => "display:none;" }
            %script{ :type => "text/javascript" }
              try { var yaCounter973606 = new Ya.Metrika(973606); } catch(e){}
          %noscript
            %div{ :style => "position:absolute" }
              %img{ :src => "//mc.yandex.ru/watch/973606", :alt => "" }
          /
            \/Yandex.Metrika
